<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    {{input
      type="text"
      id="new-todo"
      placeholder="What needs to be done?"
      value=new_title
      action="createTodo"}}
  </header>

  <section id="main">
    <ul id="todo-list">
    {{#each todo in model itemController="todo"}}
      {{#with todo}}
      <li {{bind-attr class="is_completed:completed is_editing:editing"}}>
        {{#if is_editing}}
          {{input
            class="edit"
            value=title
            focus-out="acceptChanges"
            insert-newline="acceptChanges"
            autofocus="autofocus"}}
        {{else}}
          {{input type="checkbox" checked=is_completed class="toggle"}}
          <label {{action "editTodo" on="doubleClick"}}>{{title}}</label>
          <button {{action "removeTodo"}} class="destroy"></button>
        {{/if}}
      </li>
      {{/with}}
    {{/each}}
    </ul>

    <input type="checkbox" id="toggle-all">
  </section>

  <footer id="footer">
    <span id="todo-count">
      <strong>{{remaining}}</strong> {{inflection}} left
    </span>
    <ul id="filters">
      <li>
        <a href="all" class="selected">All</a>
      </li>
      <li>
        <a href="active">Active</a>
      </li>
      <li>
        <a href="completed">Completed</a>
      </li>
    </ul>

    <button id="clear-completed">
      Clear completed (1)
    </button>
  </footer>
</section>

<footer id="info">
  <p>Double-click to edit a todo</p>
</footer>